[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django-phonenumber-field = "==5.0.0"
asgiref = "==3.3.1"
mysqlclient = "==2.0.3"
phonenumbers = "==8.12.16"
pytz = "==2020.5"
sqlparse = "==0.4.1"
Django = "==3.1.5"

[requires]
python_version = "3.8"
