{% extends "template.html" %}
{% load static %}
{% load socialaccount %}
{% providers_media_js %}
{% block title %}Lit Lamps{% endblock %}


{% block style %}

<style>
    .faqHeader {
        font-size: 27px;
        margin: 20px;
    }

    html {
        scroll-behavior: smooth;
    }

    body {
        color: whitesmoke;
        background-color: black;
    }

    .panel-heading [data-toggle="collapse"]:after {
        font-family: 'Glyphicons Halflings';
        content: "e072"; /* "play" icon */
        float: right;
        color: #F58723;
        font-size: 18px;
        line-height: 22px;
        /* rotate "play" icon from > (right arrow) to down arrow */
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        transform: rotate(-90deg);
    }

    .panel-heading [data-toggle="collapse"].collapsed:after {
        /* rotate "play" icon from > (right arrow) to ^ (up arrow) */
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);
        color: #454444;
    }

    .carousel-card {
        background-color: black;
    }

    .carousel-card:hover {
        box-shadow: 0 4px 8px 0 #ffdf00, 0 5px 10px 0 #ffdf00;
    }

    img:hover {
        cursor: pointer;
    }

    button {
        border-radius: 10px;
        border: 0;
        background-color: #ffdf00;
        padding: 10px;
        margin-top: 15px;
    }

    button:hover {
        box-shadow: 0 4px 8px 0 darkgrey, 0 5px 10px 0 darkgrey;
    }

    [type=radio] {
        position: absolute;
        opacity: 0;
        width: 0;
        height: 0;
    }

    /* IMAGE STYLES */
    [type=radio] + img {
        cursor: pointer;
    }

    /* CHECKED STYLES */
    [type=radio]:checked + img {
        outline-width: 2px;
        outline-style: solid;
        outline-color: #f00;
        -moz-outline-radius: 25px;
    }
    
    a:link {
        color: #ffdf00;
    }

    a:visited {
        color: #ffdf00;
    }

    @media only screen and (max-width: 750px) {
        #small-invisible-1 {
            display: none;
        }

        #small-invisible-2 {
            display: none;
        }

        #small-invisible-3 {
            display: none;
        }

        #small-invisible-4 {
            display: none;
        }

        #carouselExampleIndicators {
            height: 200px;
        }

        #carousel-image {
            height: 200px;
        }

        #arrow-1 {
            display: none;
        }

        #arrow-2 {
            display: none;
        }
    }
</style>

{% endblock %}
{% block content %}

<!-- Carousel -->
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li class="active" data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        {% for item in carousel %}
            <li data-target="#carouselExampleIndicators" data-slide-to="{{ forloop.counter }}"></li>
        {% endfor %}
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active" id="carousel1">
            {% for item in carousel %}
            <img id="carousel-image" class="d-block" src="{{ item.image_path }}" alt="{{forloop.counter}} slide" width="100%"
                 height="725px" onclick="location.href='/product/?id={{ item.id }}'">
            <div class="carousel-caption d-none d-md-block">
            </div>
            {% if forloop.counter < carousel|length %}
        </div>
        <div class="carousel-item" id="carousel1">
            {% endif %}
            {% endfor %}
        </div>
        <a class="carousel-control-prev" id="arrow-1" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" id="arrow-2" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>
    <!-- Carousel end-->

    <!-- Products Button -->
    <!--<div class="row">-->
    <a href="/products" class="btn col-12 mx-auto"
       style="margin-top: 2px; font-size: 30px; background-color: #ffdf00; color: black">
        <img src="{% static 'images/lamp.png' %}" width="100px" height="50px">
        <br>
        <span class="glyphicon glyphicon-lamp"></span>
        <p style="color: black; margin-bottom: -10px; size: 20px">See All Products</p>
    </a>
    <!--  End Products Button -->

    <!-- Best Selling -->
    <div id="bestSelling">
        <div class="col-md-12 col-sm-12" >
            <div class="main_heading mx-auto" style="width: 100%!important;">
                <h3 style="color: #ffdf00; width: 100%; margin-bottom: -10px">Best Selling Products</h3>
                <div class="text-center"><span class="underline" style="background-color: #ffdf00; width: 200px; margin-top: -10px"></span>
                </div>
            </div>
        </div>

        <div class="row mx-auto" style="margin-top: -60px">
            <div class="col-lg-1 col-md-1 col-sm-0" id="small-invisible-1">
                <a class="carousel-control-prev" href="#multi-item-example" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
            </div>
            <div class="col-lg-10 col-md-10 col-sm-12">
                <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">
                    <br>
                    <!--Slides-->

                    <div class="carousel-inner" role="listbox">
                        <!--First slide-->
                        <div class="carousel-item active row justify-content-center mx-auto">
                            {% for best in bestselling %}
                            <div class="col-md-4 col-lg-4 py-3" style="float:left;" onclick="location.href='/product/?id={{ best.id }}'">
                                <div class="card carousel-card">
                                    <img class="align-self-center"
                                         src="{{ best.image_path }}"
                                         style="margin-top: 15px"
                                         width="95%"
                                         height="250px"
                                         alt="Card image cap"
                                         onclick="location.href='/product/?id={{ best.id }}'"
                                    >
                                    <div class="card-body">
                                        <h4 class="card-title" style="color: #ffdf00; text-align: center">{{ best.product_name }}</h4>
                                    </div>
                                </div>
                            </div>
                            {% if bestselling|length > forloop.counter and forloop.counter|divisibleby:3 %}
                        </div>
                        <div class="carousel-item">
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    <br>
                </div>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-0" id="small-invisible-2">
                <a class="carousel-control-next" href="#multi-item-example" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only" style="color: #ffdf00">Next</span>
                </a>
            </div>
        </div>
    </div>
    <!-- End Best Selling -->

    <!-- Features -->
    <div class="container" id="features" style="margin-top: -60px">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="main_heading mx-auto" style="width: 100% !important;">
                    <h3 style="color: #ffdf00; margin-bottom: -10px">Features</h3>
                    <div class="text-center"><span class="underline"
                                                   style="background-color: #ffdf00; width: 130px; margin-top: -20px"></span>
                    </div>
                </div>
            </div><!-- End col-md-12 -->
        </div><!-- End row -->
        <div class="row justify-content-around col-lg-12 mx-auto" style="margin-top: -30px">
            <div class="col-md-12 col-sm-12 col-lg-4">
                <div class="features-div">
                    <img src="{% static 'images/quality.png' %}" style="width: 200px"/>
                    <h4 style="color: #ffdf00">Quality</h4>
                </div>
            </div>
            <!-- End col-md-3-->
            <br>
            <br>
            <div class="col-md-12 col-sm-12 col-lg-4">
                <div class="features-div">
                    <img src="{% static 'images/finishing.png' %}" style="width: 200px"/>
                    <h4 style="color: #ffdf00">Finish</h4>

                </div>
            </div><!-- End col-md-3-->
            <br>
            <br>
            <div class="col-md-12 col-sm-12 col-lg-4">
                <div class="features-div">
                    <img src="{% static 'images/light-bright.png' %}" style="width: 180px;"/>
                    <br>
                    <h4 style="color: #ffdf00; margin-top: 35px">Light Bright</h4>
                </div>
            </div>
        </div>
    </div>
    <!-- End Features -->

    <!-- Reviews -->
    <div id="reviews" style="margin-top: -60px">
        <div class="col-md-12 col-sm-12">
            <div class="main_heading mx-auto" style="width: 100% !important;">
                <br>
                <br>
                <h3 style="color: #ffdf00; margin-bottom: -10px">Customer Reviews</h3>
                <div class="text-center"><span class="underline" style="background-color: #ffdf00; width: 200px; margin-top: -100px"></span>
                </div>
            </div>
        </div>

        <div class="row mx-auto" style="margin-top: -60px">
            <div class="col-lg-1 col-md-1" id="small-invisible-3">
                <a class="carousel-control-prev" href="#multi-item-example2" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" style="background-color: black; width: 200px" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
            </div>
            <div class="col-lg-10 col-md-10">
                <div id="multi-item-example2" class="carousel slide carousel-multi-item" data-ride="carousel">
                    <br>
                    <!--Slides-->
                    <div class="carousel-inner" role="listbox">
                        <!--First slide-->
                        <div class="carousel-item active justify-content-center">
                            {% for review in reviews %}
                            <div class="col-md-5 col-lg-4 col-sm-8 py-3" style="float:left;color: black">
                                <div class="card carousel-card">
                                    <div class="card-header">
                                        <div class="row justify-content-center mx-auto" style="width: 100%">
                                            <div class="col-lg-8 col-md-10 col-sm-12 align-self-center">
                                                <img
                                                        src="{{ review.product.image_path }}"
                                                        alt="Card image cap"
                                                        style="max-height: 200px; max-width: 400px;width:100%"
                                                        class="mx-auto"
                                                >
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <h4 class="card-title" style="color: #ffdf00">{{ review.product.product_name }}</h4>
                                        <div class="col-lg-12">
                                            <h4 style="margin-left: 10px; margin-right: 10px; margin-top: 20px; color: #ffdf00">
                                                "{{ review.review }}"</h4>
                                        </div>
                                    </div>
                                    <div class="card-footer justify-content-end">
                                        <div class="row justify-content-end" style="width: 100%">
                                            <p style="font-size: 20px; color: #ffdf00">
                                                - {{ review.customer.first_name }}&nbsp;{{ review.customer.last_name }}</p>
                                        </div>
                                        <div class="col-lg-1"></div>
                                    </div>
                                </div>
                            </div>
                            {% if forloop.counter|divisibleby:3 and forloop.counter < reviews|length %}
                        </div>
                        <div class="carousel-item">
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    <br>


                </div>
            </div>
            <div class="col-lg-1 col-md-1" id="small-invisible-4">
                <a class="carousel-control-next" href="#multi-item-example2" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" style="background-color: black;" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>


    </div>
    <!-- End Reviews -->
    <!-- FAQs -->
    <div class="container" id="FAQs">
        <div class="row">
            <div class="col-md-12 col-sm-12" style="width: 100% !important;">
                <div class="main_heading mx-auto">
                    <h3 style="margin-bottom: -10px; color: #ffdf00">FAQs</h3>
                    <div class="text-center"><span class="underline"
                                                   style="background-color: #ffdf00; width: 100px;"></span></div>
                </div>
            </div><!-- End col-md-12 -->
        </div><!-- End row -->
        <div class="" id="accordion" style="margin-top: -60px">
            {% for faq in faqs %}
            <div class="card" style="background-color: black">
                <div class="card-header">
                    <h4 class="card-header">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion"
                           href="#collapseOne{{ forloop.counter }}">{{ faq.question }}</a>
                    </h4>
                </div>
                <div id="collapseOne{{ forloop.counter }}" class="panel-collapse collapse in">
                    <div class="card-block">
                        <p style="font-size: 20px; padding-left: 15px; padding-top: 5px">{{ faq.answer }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
</div>
<br>
<br>
<!-- End FAQs -->
{% endblock %}


{% block script %}
{% endblock script %}