{% load static %}
<html>
<head>
    <title>Confirm your payments</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body>

<div class="container">
    <br><br>
    <div class="row">
        <div class="well col-xs-10 col-sm-10 col-md-6 col-xs-offset-1 col-sm-offset-1 col-md-offset-3 ali">
            <div class="row justify-content-center bg-dark">
                <div class="col-1">
                    <form action="/successRedirect/" method="POST" id="payment">
                        {% csrf_token %}
                        <script
                                src="https://checkout.razorpay.com/v1/checkout.js"
                                data-key="rzp_test_XgSvcOhAnzdFER"
                                data-amount="{{ payment.amount }}"
                                data-currency="{{ payment.currency }}"
                                data-order_id="{{ payment.id }}"
                                data-name="Laser Innovation Technology"
                                data-description="Pay for your order"
                                data-image="{% static '/images/logo.png' %}"
                                data-prefill.name="{{ user.first_name }}"
                                data-prefill.email="{{ user.email }}"
                                data-theme.color="#ffdf00"

                        ></script>
                        <input type="hidden" custom="Hidden Element" name="hidden">
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6">
                    <address>
                        <strong>{{ user.first_name }}&nbsp;{{ user.last_name }}</strong>
                        <p>Address:<br>
                                {{ order_address.street }}<br>
                                {{ order_address.street2 }}<br>
                                {{ order_address.city }}
                                {{ order_address.region }}<br>
                                {{ order_address.pincode }}<br>
                        </p>
                    </address>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 text-right">
                    <p>
                        <em>Order #: {{ payment.id }}</em>
                    </p>
                    <p>Mobile : {{ order_address.mobile }}</p>
                </div>
            </div>
            <div class="row">
                <div class="text-center">
                    <h1>Order Confirmation</h1>
                </div>
                </span>
                <div class="text-center"><h4><strong>Total: </strong></h4></div>
                <div class="text-center text-danger"><h4><strong>₹{{ payment.rupee }}</strong></h4></div>

                <button type="submit" form="payment" class="btn btn-success btn-lg btn-block">
                    Pay Now   <span class="glyphicon glyphicon-chevron-right"></span>
                </button>
                </td>
            </div>
        </div>
    </div>
</div>
</body>
</html>