{% extends "template.html" %}
{% load static %}
{% block title %}Products{% endblock %}


{% block style %}
    <!--Style for bottom-->
    <style>
        body {
            color: #000;
            overflow-x: hidden;
            height: 100%;
            background-color: #fff;
            background-repeat: no-repeat
        }

        .block {
            position: relative;
            width: 22%;
            background-color: lightgrey;
            padding-top: 10px;
            margin-bottom: 165px
        }

        .image {
            width: 180px;
            height: 300px
        }

        .info {
            position: absolute;
            width: 94%;
            top: 280px;
            left: 3%;
            background-color: #fff
        }

        .cart {

            background-color: #ffdf00;
            color: #000000;
            padding: 6px;
            width: 100%;
            border: 2px solid #fff8e3;
            cursor: pointer
        }

        .cart:hover {
            background-color: #decc22
        }

        .order {
            color: #000000;
            padding: 6px 5px;
            width: 100%;
            border: 2px solid #000000;
            cursor: pointer
        }

        .outer_form {
            width: 48%;
            margin-left: 2%;
        }

        .order:hover {
            color: #000000;
            background-color: #decc22
        }

        .sm-font {
            font-size: 12px
        }

        @media screen and (max-width: 992px) {
            .block {
                width: 45%
            }
        }

        @media screen and (max-width: 550px) {
            .block {
                width: 100%
            }
        }
    </style>
    <style>
        .products:hover {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }

        .card {
            font-family: Copperplate;
        {#background-color: rgba(183,178,190,0.32);#} border-color: #ffdf00;
            border-radius: 25px;
        }

        .btn {
            background-color: #ffdf00;
            color: black;
            border-radius: 8px;
        }

        .btn:hover {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }

        h4:hover {
            cursor: pointer;
        }

        img:hover {
            cursor: pointer;
        }

        h5 {
            font-size: 25px;
        }

        [type=radio] {
            position: absolute;
            opacity: 0;
            width: 0;
            height: 0;
        }

        /* IMAGE STYLES */
        [type=radio] + img {
            cursor: pointer;
        }

        /* CHECKED STYLES */
        [type=radio]:checked + img {
            outline-width: 2px;
            outline-style: solid;
            outline-color: #f00;
            -moz-outline-radius: 25px;
        }
    </style>
{% endblock %}

{% block content %}
    <div>
        <br>
        <br>
        <br>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="main_heading">
                <h1>Our Products</h1>
                <div class="text-center"><span class="underline" style="background-color: #ffdf00; width:300px"></span></div>
            </div>
        </div><!-- End col-md-12 -->
    </div>
    <hr>

    <div class="container-fluid px-5 py-5 mx-auto">
        <div class="row justify-content-between px-3">
            {% for product in products %}
                <div class="block text-center"><img onclick="location.href='/product/?id={{ product.id }}'"
                                                    class="image" src="{{ product.image_path }}">
                    <div class="info py-2 px-2">
                        <div class="row px-3">
                            <form class="outer_form" action="/add_to_cart/" method="post" id="add_to_cart2">
                                {% csrf_token %}
                                <input type="text" name="id" hidden value="{{ product.id }}">
                                <input id="colorCart{{ product.id }}" type="text" name="color" hidden value="red">
                                <button class="cart" type="submit">
                                    <i class="fa fa-cart-plus sm-font"> ADD TO CART </i>
                                </button>
                            </form>
                            <form class="outer_form" action="/buy_now/" method="post" id="buy_now">
                                {% csrf_token %}
                                <input type="text" name="id" hidden value="{{ product.id }}">
                                <input id="colorBuy{{ product.id }}" type="text" name="color" hidden value="red">
                                <button class="order" type="submit">
                                    <i class="fa fa-credit-card sm-font"> ORDER NOW </i>
                                </button>
                            </form>

                        </div>
                        <div class="text-left" onclick="location.href='/product/?id={{ product.id }}'">
                            <h5 class="mb-0 mt-2">{{ product.product_name }}</h5> <small
                                class="text-muted mb-1">{{ product.product_name }}</small>
                        </div>
                        <div class="row px-3">
                            <h5 onclick="location.href='/product/?id={{ product.id }}'">
                                Rs.{{ product.product_price_rupees }}</h5>
                            <p class="text-muted ml-2" onclick="location.href='/product/?id={{ product.id }}'">
                                <del>Rs.{{ product.product_price_rupees }}</del>
                            </p>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <div class="row" style="margin-top: 5px">
                                <form>
                                    <label class="form-group">
                                        <input type="radio" id="red" name="color" value="red" checked
                                        onblur="document.getElementById('colorCart{{ product.id }}').value = this.value;document.getElementById('colorBuy{{ product.id }}').value = this.value;"
                                        >
                                        <img src="{% static 'images/red.jpeg' %}" width="25px" height="25px"
                                             style="border-radius: 12px">
                                    </label>
                                    <label class="form-group">
                                        <input type="radio" id="wooden" name="color" value="wooden"
                                        onblur="document.getElementById('colorCart{{ product.id }}').value = this.value;document.getElementById('colorBuy{{ product.id }}').value = this.value;">
                                        <img src="{% static 'images/wooden.jpeg' %}" width="25px" height="25px"
                                             style="border-radius: 12px; margin-left: 4px">
                                    </label>
                                    <label class="form-group">
                                        <input type="radio" id="black" name="color" value="black"
                                        onblur="document.getElementById('colorCart{{ product.id }}').value = this.value;document.getElementById('colorBuy{{ product.id }}').value = this.value;">
                                        <img src="{% static 'images/black.jpeg' %}" width="25px" height="25px"
                                             style="border-radius: 12px; margin-left: 4px">
                                    </label>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div>
            <br>
            <br>
            <br>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        {% if cart_visible == 1 %}
            $(document).ready(function () {
                $("#myModal2").modal();
            });
        {% endif %}
    </script>
{% endblock %}