{% extends "template.html" %}
{% load static %}
{% block title %}Products{% endblock %}


{% block style %}
    <style>
        .gallery-wrap .img-big-wrap img {
            height: auto;
            width: 450px;
            display: inline-block;
            cursor: zoom-in;
        }


        .gallery-wrap .img-small-wrap .item-gallery {
            width: 60px;
            height: 60px;
            border: 1px solid #ddd;
            margin: 7px 2px;
            display: inline-block;
            overflow: hidden;
        }

        .gallery-wrap .img-small-wrap {
            text-align: center;
        }

        .gallery-wrap .img-small-wrap img {
            max-width: 100%;
            max-height: 100%;
            object-fit: cover;
            border-radius: 4px;
            cursor: zoom-in;
        }

        .bottom-buttons {
            position: -webkit-sticky; /* Safari */
            position: sticky;
            bottom:0
        }
    </style>
{% endblock %}


{% block content %}
    <br>
    <br>
    <br>
    <hr>

    <div class="container">
        <div class="card">
            <div class="row justify-content-between">
                <aside class="col-lg-5 border-right">
                    <article class="gallery-wrap">
                        <div class="img-big-wrap">
                            <div><a href="#"><img src="{{ product_details.image_path }}"></a></div>
                        </div> <!-- slider-product.// -->
                        <div class="img-small-wrap">
                            <div class="item-gallery"><img src="{% static 'images/Macbook.png' %}"></div>
                            <div class="item-gallery"><img src="{% static 'images/Macbook.png' %}"></div>
                            <div class="item-gallery"><img src="{% static 'images/Macbook.png' %}"></div>
                            <div class="item-gallery"><img src="{% static 'images/Macbook.png' %}"></div>
                        </div> <!-- slider-nav.// -->
                    </article> <!-- gallery-wrap .end// -->
                </aside>
                <aside class="col-lg-6">
                    <article class="card-body p-5">
                        <h3 class="title mb-3">{{ product_details.product_name }}</h3>

                        <p class="price-detail-wrap">
	<span class="price h3 text-warning">
		<span class="currency">RS ₹</span><span class="num">{{ product_details.product_price_rupees }}</span>
	</span>
                            <span>/per piece</span>
                        </p> <!-- price-detail-wrap .// -->
                        <dl class="item-property">
                            <dt>Description</dt>
                            <dd><p>{{ product_details.product_desc }} </p></dd>
                        </dl>

                        <dl class="param param-feature">
                            <dt>Dimensions</dt>
                            <dd>Length: 6 Inches (Base Diameter)<br>Height: 9 Inches</dd>
                        </dl>  <!-- item-property-hor .// -->
                        <dl class="param param-feature">
                            <dt>Power</dt>
                            <dd>12 Volts</dd>
                        </dl>  <!-- item-property-hor .// -->
                        <dl class="param param-feature">
                            <dt>Warranty</dt>
                            <dd>1 Year for Adapter</dd>
                        </dl>  <!-- item-property-hor .// -->
                        <dl class="param padram-feature">
                            <dt>Delivery</dt>
                            <d>Free Shipping All over India</dd>
                        </dl>  <!-- item-property-hor .// -->

                        <hr>
                        <div class="row">
{#                            <div class="col-sm-5">#}
{#                                <dl class="param param-inline">#}
{#                                    <dt>Quantity:</dt>#}
{#                                    <dd>#}
{#                                        <select class="form-control form-control-sm" style="width:70px;" name="">#}
{#                                            <option> 1</option>#}
{#                                            <option> 2</option>#}
{#                                            <option> 3</option>#}
{#                                        </select>#}
{#                                        <input type="number" style="width: 150px" name="quantity" min="1">#}
{#                                    </dd>#}
{#                                </dl>  <!-- item-property .// -->#}
{#                            </div> <!-- col.// -->#}
                            <div class="col-sm-7">
                                <dl class="param param-inline">
                                    <dt>Available Color</dt>
                                    <dd>
{#                                        <label class="form-check form-check-inline">#}
{#                                            <input class="form-check-input" type="radio" name="inlineRadioOptions"#}
{#                                                   id="inlineRadio2" value="option2">#}
{#                                            <span class="form-check-label">SM</span>#}
{#                                        </label>#}
{#                                        <label class="form-check form-check-inline">#}
{#                                            <input class="form-check-input" type="radio" name="inlineRadioOptions"#}
{#                                                   id="inlineRadio2" value="option2">#}
{#                                            <span class="form-check-label">MD</span>#}
{#                                        </label>#}
{#                                        <label class="form-check form-check-inline">#}
{#                                            <input class="form-check-input" type="radio" name="inlineRadioOptions"#}
{#                                                   id="inlineRadio2" value="option2">#}
{#                                            <span class="form-check-label">XXL</span>#}
{#                                        </label>#}

                                    </dd>
                                </dl>  <!-- item-property .// -->
                            </div> <!-- col.// -->
                        </div> <!-- row.// -->
                        <hr>
                        <div class="card mb-3">
                            <div class="card-body">
                                <form>
                                    <div class="form-group">
                                        <label>Have coupon?</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control" name="" placeholder="Coupon code">

                                            <button class="btn btn-warning">Apply</button>

                                        </div>
                                    </div>
                                </form>
                            </div> <!-- card-body.// -->
                        </div> <!-- card.// -->
                    </article> <!-- card-body.// -->
                </aside> <!-- col.// -->
            </div> <!-- row.// -->
        </div> <!-- card.// -->
    </div>
    <!--container.//-->
    <hr>
    <div class="row bg-dark justify-content-center py-md-3 bottom-buttons">
        <div class="row align-content-md-center">
            <button class="btn" style="border-radius: 10px; padding-left: 12px; padding-right: 12px; background-color: #ffdf00" >
                <i class="fa fa-credit-card"> Buy Now</i>
            </button>
{#            <a href="#" class="btn btn-lg btn-warning"><i class="fa fa-credit-card">    Buy Now</i></a>#}
            <form action="/add_to_cart/" method="post">
                {% csrf_token %}
                <input type="text" hidden value="{{ product_details.id }}" name="id">
                <input type="text" hidden value="">
                <button class="btn" type="submit" style="margin-left: 7px; padding: 12px; border-radius: 10px; background-color: #ffdf00">
                    <i class="fa fa-cart-plus">  Add to Cart</i>
                </button>
            </form>
{#            <a href="#" class="btn btn-lg btn-outline-warning text-uppercase"> <i#}
{#                    class="fa fa-shopping-cart"></i> Add to cart </a>#}
        </div>
    </div>

{% endblock %}

{% block script %}

{% endblock %}